.Banner {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .Banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .Banner-title {
    font-size: 24px;
  }
  
  .Banner-username {
    font-size: 18px;
  }

  .Banner-title {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the text color from the parent */
    font-size: inherit; /* Inherit the font size from the parent */
    font-weight: inherit; /* Inherit the font weight from the parent */
    cursor: pointer; /* Optional: Keep the pointer cursor for clickable behavior */
  }